<div class="img1" id="img1">
    <img class="cachee" src="images/animaux/1.webp" alt="image chimpanze">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img2" id="img2">
    <img class="cachee" src="images/animaux/2.webp" alt="image buffle">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img3" id="img3">
    <img class="cachee" src="images/animaux/3.webp" alt="image phacochere">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img4" id="img4">
    <img class="cachee" src="images/animaux/4.webp" alt="image chimpanze debout">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img5" id="img5">
    <img class="cachee" src="images/animaux/5.webp" alt="image crocodile">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img6" id="img6">
    <img class="cachee" src="images/animaux/6.webp" alt="image elephant">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img7" id="img7">
    <img class="cachee" src="images/animaux/7.webp" alt="image phacochere 2">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img8" id="img8">
    <img class="cachee" src="images/animaux/8.webp" alt="image leopard">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img9" id="img9">
    <img class="cachee" src="images/animaux/9.webp" alt="image lion">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img10" id="img10">
    <img class="cachee" src="images/animaux/10.webp" alt="image gorille">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img11" id="img11">
    <img class="cachee" src="images/animaux/11.webp" alt="image antilope">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img12" id="img12">
    <img class="cachee" src="images/animaux/12.webp" alt="image crocodile 2">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img13" id="img13">
    <img class="cachee" src="images/animaux/13.webp" alt="image giraffe">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img14" id="img14">
    <img class="cachee" src="images/animaux/14.webp" alt="image gavial du gange">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img15" id="img15">
    <img class="cachee" src="images/animaux/15.webp" alt="image elephants - mere et son petit">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img16" id="img16">
    <img class="cachee" src="images/animaux/17.webp" alt="image panda roux">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img17" id="img17">
    <img class="cachee" src="images/animaux/18.webp" alt="image nasique">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img18" id="img18">
    <img class="cachee" src="images/animaux/19.webp" alt="image orang outang">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img19" id="img19">
    <img class="cachee" src="images/animaux/20.webp" alt="image gavial du gange 2">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img20" id="img20">
    <img class="cachee" src="images/animaux/21.webp" alt="image cameleon">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img21" id="img21">
    <img class="cachee" src="images/animaux/22.webp" alt="image perroquet">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img22" id="img22">
    <img class="cachee" src="images/animaux/23.webp" alt="image linx">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img23" id="img23">
    <img class="cachee" src="images/animaux/24.webp" alt="image renne">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img24" id="img24">
    <img class="cachee" src="images/animaux/25.webp" alt="image loup blanc">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">   
</div>
<div class="img25" id="img25">
    <img class="cachee" src="images/animaux/26.webp" alt="image ours blanc">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img26" id="img26">
    <img class="cachee" src="images/animaux/27.webp" alt="image renard">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>
<div class="img27" id="img27">
    <img class="cachee" src="images/animaux/28.webp" alt="image elan">
    <img class="visible" src="images/dosCarte.png" alt="image dos carte">
</div>