@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1rem;
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left:0.5vw;
    padding-right:0.5vw;

}

header{
    padding-top: 0;
}

h1{
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

h2{
    font-family: 'Bangers', cursive;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

#banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0;
}

#title{
    font-family: 'Bangers', cursive;
    color: gold;
    text-shadow: 3px 3px rgba(153, 153, 153, 0.829);
    font-size: 5rem;
    letter-spacing: 0.1rem;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: bold;
    background-color: gold;
    border: solid  gold;
    border-radius: 7px;
}

nav a {
    font-family: 'Bangers', cursive;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: gold;
    color: black;
    transition: 0.5s ease;
    border-bottom: solid 5px gold;
}

nav a:hover{
    border-bottom: solid 5px white;
}

#ligne1{
    display: flex;
    flex-direction: row;
    padding: 0;
}

#histoire{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    border: 5px solid white;
}

#regles{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid white;
    padding: 0;
}

#inscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid white;
}


button, #valider{
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: black;
    font-weight: bold  ;
    background-color: white;
    border-radius: 7px;
    border : solid 2px white;
    box-shadow: -5px 5px  gold;
}

.valider{
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: black;
    font-weight: bold  ;
    background-color: white;
    border-radius: 7px;
    border : solid 2px white;
    box-shadow: -5px 5px  gold;
}

.validerDesactive{
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: rgb(78, 78, 78);
    font-weight: bold  ;
    background-color: rgb(218, 215, 215);
    border-radius: 7px;
    border : solid 2px white;
    box-shadow: -5px 5px  grey;
}

.validerDesactive:hover{
    cursor: not-allowed;
}

button:hover, #button:hover{
    transform: scale(0.98, 0.98);
    transition: all 0.1s;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h6{
    font-size: 0.8rem;
    margin: 0;
}

h6 a, p a{
    font-size: inherit;
    margin : 0;
    padding: 0;
}


p{
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 0;
    margin-bottom: 0;
}

#verifMdP{
    color: grey;
    padding: 5px 10px 5px 10px;
    font-size: 0.9rem;
}


.cards{
    display: grid;
    grid-template-columns: repeat(4, auto);
    max-width: 95%;  
    padding: 0;
    margin: 0;
    border-left: solid 3px white;
    border-right: solid 3px white;
    padding-left: 5%;
    padding-right: 5%;
}

.cards div{
    display: flex;
    justify-content: center;
    height: 150px;
    width: 150px;
}

#plateau{
    display: flex;
    width: 90vw;
    
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 2%;
    padding-left: 2%;
    width: 45vw;
}

aside h3{
    min-width: 10vw;
}

.visible{
    border-radius: 7px;
    width: 80%;
    border : solid 2px white;
    display : flex;
}

.visible:hover{
    transform: scale(0.95, 0.95);
    transition: all 0.5s;
    cursor: pointer;
}

.cachee{
    width: 80%;
    border-radius: 7px;
    border : solid 2px white;
    display: none;  
}

.cachee:hover{
    transform: scale(0.95, 0.95);   
    transition: all 0.5s;
    cursor: pointer;
}

.supprime{
    border-radius: 7px;
    border : solid 2px white;
    visibility: hidden;
}


#imgAccueil {
    height: 20vh;
    border-radius: 20px;
}

fieldset{
    border-radius: 7px;
    min-width: 40%;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
}

#connexion{
    align-items: center;
}

label{
    font-weight: bold;
    padding-top: 1.5rem;
}

input{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: solid 3px white;
    width: 90%;
}   


.zoneInput{
    display: flex;
    flex-direction: row;
    justify-content : flex-start;
    padding: 0;
    margin: 0;

}


.indicateurVisible{
    width: 2rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: solid 3px white;
}

.indicateurInvisible{
    width: 2rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: solid 3px white;
    display: none;
}

#securiteMdP{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.indicateurGrise{
    border-top: solid 5px grey;
    margin-left: 1vw;
    margin-right: 1vw;
}

.mdpFaibleVisible{
    border-top: solid 5px orange;
    margin-left: 1vw;
    margin-right: 1vw;
}

.mdpMoyenVisible{ 
    border-top: solid 5px yellow;
    margin-left: 1vw;
    margin-right: 1vw;
}

.mdpFortVisible{
    border-top: solid 5px green;
    margin-left: 1vw;
    margin-right: 1vw;
}

#valideFormulaire{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#feedback{
    margin: 0;
    padding: 0;
}

#recapId{
    background-color: gold;
    border-radius: 7px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#recapId>h3{
    background-color: gold;
    color: black;
    margin: 0;   
}

h4{
    font-family: 'Bangers', cursive;
    color: gold;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

h5{
    background-color: grey;
    border-radius: 7px;
    width: 80%;
}

#contenuProfil{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    width: 90vw;
}
#emplacementImage {
    width: 30vw;
}
#contenuProfil img{
    height: 300px;
}

#parametresJeu{
    width: 70vw;
}

#recapId{
    width: 20vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
#recapId h3{
    display: inline ;
    justify-content: center;

}
#recapId h2{
    color: black;
    background-color: gold;
}

#typeMemory, #tailleMemory{
    width: 35vw;
}

.imageVictoireVisible{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 65vh;
    border: solid white;
}

.imageVictoireInvisible{
    visibility: hidden;
}